{% extends 'dashboard/base.html' %}
{% load humanize %}

{% block title %}Xizmatlar ro'yhati{% endblock %}
{% block page_header %}Xizmatlar ro'yhati{% endblock %}

{% block content %}
<div class="container center-content">
    <div style="text-align: right; margin-bottom: 1rem;">
        <a href="{% url 'create_service' %}" class="btn btn-success">➕ Yangi bo‘lim qo‘shish</a>
    </div>
    <div class="table-wrapper">
        <table class="table">
            <thead>
            <tr>
                <th class="name">Xizmat nomi</th>
                <th class="price">Narxi</th>
                <th class="actions">Amallar</th>
            </tr>
            </thead>
            <tbody>
            {% for txt in services %}
            <tr>
                <td class="name">{{ txt.name }}</td>
                <td class="price">{{ txt.price }}</td>
                <td class="actions">
                    <a href="{% url 'edit_service' txt.id %}" class="btn btn-warning btn-sm">✏️</a>
                    <a href="{% url 'delete_service' txt.id %}" class="btn btn-danger btn-sm">🗑️</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">Ma’lumot topilmadi.</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
