{% extends 'dashboard/base.html' %}
{% load humanize %}

{% block title %}Biz bilan bo'glanish{% endblock %}
{% block page_header %}Biz bilan bo'glanish{% endblock %}

{% block content %}
<div class="container center-content">
    <div style="text-align: right; margin-bottom: 1rem;">
        <a href="{% url 'create_contact' %}" class="btn btn-success">➕ Yangi bo‘lim qo‘shish</a>
    </div>
    <div class="table-wrapper">
        <table class="table">
            <thead>
            <tr>
                <th class="title">Sarlavha</th>
                <th class="description">Ta'rif</th>
                <th class="work_time">Ish vaqti</th>
                <th class="actions">Amallar</th>
            </tr>
            </thead>
            <tbody>
            {% for txt in contact %}
            <tr>
                <td class="title">{{ txt.title }}</td>
                <td class="description">{{ txt.description|truncatechars:60 }}</td>
                <td class="work_time">{{ txt.work_time }}</td>

                <td class="actions">
                    <a href="{% url 'edit_contact' txt.id %}" class="btn btn-warning btn-sm">✏️</a>
                    <a href="{% url 'delete_contact' txt.id %}" class="btn btn-danger btn-sm">🗑️</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">Ma’lumot topilmadi.</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
